*{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    border: border-box;

}
/* Main navigation Bar */
.navbar{
    background: #0f1111 ;
    display: flex;
    height: 60px;
    color: white;
    align-items: center;
    justify-content: space-evenly;
   
}
/* Amzon Logo */
.navLogo{
    background-image: url("AmazonLogo.png");
    background-size: cover;
    height: 50px;
    width: 130px;
    
}
/* border transition on hover */
.border{
    border: 1px solid transparent;
}
.border:hover{
    border: 1px solid gray;
}

/* country navigstion  */
.add1{
    color: #cccccc;
    font-size: 0.85rem;
    margin-left: 15px ;
}
.add2{
    color: white;
    font-size: 1rem;
    margin-left: 3px;
}
.addicon{
    display: flex;  
}

/* seach bar */
.nav-search{
    height: 40px;
    width: 620px;
    display: flex;
    justify-content: space-evenly;
    border-radius: 4px;
}
.search-select{
  background-color: #f3f3f3;
  width: 50px;
  text-align: center;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  border: none;
}
.search-input{
width: 100%;
font-size: 1rem;
border: none;
}
.search-icon{
width: 45px;
display: flex;
justify-content: center;
align-items: center;
font-size: 1.2rem;
background-color: #febd68;
border-top-right-radius: 4px;
border-bottom-right-radius: 4px;
color:#0f1111  ;
}

.nav-search:hover{
    border: 2px solid #febd68;
    border-radius: 6px;
}

/* sign in block*/
span{
    font-size: 0.70rem;
}
.last-part-text{
    font-size: 0.85rem;
    font-weight: 700;
}

/*Cart Part*/
 /* this is a special type of selector 
    we write class name then tag name for applying css */
 .nav-cart i{
    font-size: 30px;
 }
 .nav-cart{
    font-size: 0.85 rem;
    font-weight: 700;
 }

/* Panel */
.panel{
    height:37px;
    background-color: #222f3d;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    
}
.panel p{
    display: inline;
   margin-left: 10px;
}
.panel-options{
    width: 75%;
    font-size: 0.85rem;
}
.panel-deals{
    font-size: 0.9rem;
    font-weight: 700;
}

/* HERO SECTION */
.hero-section{
    background-image: url("box1.jpg");
    background-size: cover;
   
    height: 300px ;
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}
.hero-msg{
    font-size: 0.85rem;
    background-color: white;
    color: black;
    height: 40px;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-bottom: 25px;
    border-radius: 4px;
}
.hero-msg a{
    color: #007185;
}

.card-row1{
    display: flex;
    justify-content: space-evenly;
    background-color: #e2e6e7;
}
.card-row2{
    display: flex;
    justify-content: space-evenly;
    background-color: #e2e6e7;
}

/* contenr section */
.card-container{
    height: 400px;
    width: 350/px;
    border: #0f1111;
    background-color: white;
}

.card-title{
    font-size: 25px;
    color: #0f1111;
    font-weight: 700;
    margin-top: 10px;
    padding-left: 10px;
}
.card1{
    display: flex;
    padding: 6px;
    height: 120px; 
    width: 100px;
}
.card2{
    display: flex;
    padding: 8px;
    height: 120px; 
    
}
.single-pic-card{
   height: 300px;
   width: 400px;
   padding: 6px;
}
.horizontal-line{
    background-color: #e2e6e7 ;
    height: 13.5px;
}
.card-btn{
    color: #007185;
    padding-left:10px ;
    padding-top: 10px;
    font-size: 15px;
}
.horizontal-img{
    display: flex;
    justify-content: space-between;
    height: 200px;
    padding-top: 10px;
   margin: 10px;
   margin-bottom: 15px;
}
.footer{
    margin-top: 50px;
}
.foot-panel-1{
    background-color: #37475a;
    color: white;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.85rem;
}
.foot-panel-2{
    background-color: #222f3d;
    color: white;
    height: 260px;
    display: flex;
    justify-content: space-evenly;
    
}
ul{
    margin-top: 10px;
}
ul a{
    display: block;
    font-size: 0.85rem;
    margin-top: 10px;
    color: #dddddd;
}
.foot-panel-3{
    background-color: #222f3d;
    color:white;
    border-top: 0.5px solid white;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.foot-logo{
    background-image: url("am.png");
    background-size: cover;
    height: 55px;
    width: 100px;
    margin-bottom: 10px;
}

.foot-panel-4{
    background-color: #0f1111;
    color: white;
    height: 80px;
    text-align: center;
}
.pages{
    font-size: 0.7rem;
    padding-top: 25px;
}

.copyright{
    padding-top: 5px;
    font-size: 0.7rem;
}